body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    display: flex;
    flex-wrap: wrap;
    text-align: justify; 
    background-color: #3498db;
    color: white;
}

header h1 {
    margin-bottom: 5px;
}

header b {
    font-size: 18px;
}

header p {
    font-size: 14px;
    margin: 5px 0;
}

#contato {
    margin-top: 20px;
}

hr {
    margin: 0;
    margin-left: 30px ;
    border: 1px solid #b9b9b9;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adicionamos esta propriedade para distribuir o espaço entre as seções */
}
#cabecalho{
    flex-basis: calc(60% - 25px); /* Ajustamos o flex-basis para considerar o padding de 20px */
    padding: 20px;
    margin-top: 10px;
}
.left {
    flex-basis: calc(35% - 25px); /* Ajustamos o flex-basis para considerar o padding de 20px */

    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}


.left h2 {
    color: #3498db;
    margin-top: 0;
}

.left p {
    line-height: 1.6;
}

.left ol,
.left ul {
    padding-left: 20px;
}

#content1 {
    flex-basis: calc(35% - 25px); /* Ajustamos o flex-basis para considerar o padding de 20px */
    border-radius: 5px;
    margin-bottom: 20px;
}

#content2 {
    flex-basis: calc(60% - 25px); /* Ajustamos o flex-basis para considerar o padding de 20px */
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
#content2 h2 {
    color: #3498db;
    margin-top: 0;
}



img {
    width: 150px;
    border-radius: 10%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

#imge{
    text-align: center;
}
